.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    overflow-x: hidden;
    width: 300px;
    height: 186px;
    position: relative;
  }
  
  .frame .group {
    position: absolute;
    width: 131px;
    height: 42px;
    top: 0;
    left: 172px;
  }
  
  .frame .iwwa-day-wrapper {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 22px;
    left: 0;
    background-color: var(--red-100);
    border-radius: 9px;
  }
  
  .frame .img {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 4px;
    left: 4px;
  }
  
  .frame .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--body12-regular-font-family);
    font-weight: var(--body12-regular-font-weight);
    color: #000000;
    font-size: var(--body12-regular-font-size);
    letter-spacing: var(--body12-regular-letter-spacing);
    line-height: var(--body12-regular-line-height);
    white-space: nowrap;
    font-style: var(--body12-regular-font-style);
  }
  
  .frame .element-checklist {
    position: absolute;
    top: 20px;
    left: 22px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .span {
    font-weight: var(--body14-bold-font-weight);
    color: #dc2626;
    line-height: var(--body14-bold-line-height);
    font-family: var(--body14-bold-font-family);
    font-style: var(--body14-bold-font-style);
    letter-spacing: var(--body14-bold-letter-spacing);
    font-size: var(--body14-bold-font-size);
  }
  
  .frame .text-wrapper-2 {
    font-family: var(--body12-light-font-family);
    font-weight: var(--body12-light-font-weight);
    color: #ee9393;
    font-size: var(--body12-light-font-size);
    line-height: var(--body12-light-line-height);
    font-style: var(--body12-light-font-style);
    letter-spacing: var(--body12-light-letter-spacing);
  }
  
  .frame .text-wrapper-3 {
    font-family: var(--body14-regular-font-family);
    color: #ee9393;
    line-height: var(--body14-regular-line-height);
    font-style: var(--body14-regular-font-style);
    font-weight: var(--body14-regular-font-weight);
    letter-spacing: var(--body14-regular-letter-spacing);
    font-size: var(--body14-regular-font-size);
  }
  
  .frame .text-wrapper-4 {
    font-weight: var(--body14-bold-font-weight);
    color: #ee9393;
    line-height: var(--body14-bold-line-height);
    font-family: var(--body14-bold-font-family);
    font-style: var(--body14-bold-font-style);
    letter-spacing: var(--body14-bold-letter-spacing);
    font-size: var(--body14-bold-font-size);
  }
  
  .frame .group-2 {
    position: absolute;
    width: 130px;
    height: 42px;
    top: 48px;
    left: 172px;
  }
  
  .frame .iwwa-week-wrapper {
    background: linear-gradient(
      180deg,
      rgb(58.86, 120.35, 255) 0%,
      rgb(25.71, 90.94, 233.75) 100%
    );
    position: absolute;
    width: 18px;
    height: 18px;
    top: 22px;
    left: 0;
    border-radius: 9px;
  }
  
  .frame .element-checklist-2 {
    position: absolute;
    width: 103px;
    height: 12px;
    top: 25px;
    left: 23px;
  }
  
  .frame .group-3 {
    position: absolute;
    width: 131px;
    height: 42px;
    top: 96px;
    left: 172px;
  }
  
  .frame .iwwa-month-wrapper {
    background-color: var(--orange-100);
    position: absolute;
    width: 18px;
    height: 18px;
    top: 22px;
    left: 0;
    border-radius: 9px;
  }
  
  .frame .text-wrapper-5 {
    color: #e58900;
    font-weight: var(--body14-bold-font-weight);
    line-height: var(--body14-bold-line-height);
    font-family: var(--body14-bold-font-family);
    font-style: var(--body14-bold-font-style);
    letter-spacing: var(--body14-bold-letter-spacing);
    font-size: var(--body14-bold-font-size);
  }
  
  .frame .text-wrapper-6 {
    color: #f2c580;
    font-family: var(--body12-light-font-family);
    font-weight: var(--body12-light-font-weight);
    font-size: var(--body12-light-font-size);
    line-height: var(--body12-light-line-height);
    font-style: var(--body12-light-font-style);
    letter-spacing: var(--body12-light-letter-spacing);
  }
  
  .frame .text-wrapper-7 {
    color: #f2c580;
    font-family: var(--body14-regular-font-family);
    line-height: var(--body14-regular-line-height);
    font-style: var(--body14-regular-font-style);
    font-weight: var(--body14-regular-font-weight);
    letter-spacing: var(--body14-regular-letter-spacing);
    font-size: var(--body14-regular-font-size);
  }
  
  .frame .text-wrapper-8 {
    color: #f2c580;
    font-weight: var(--body14-bold-font-weight);
    line-height: var(--body14-bold-line-height);
    font-family: var(--body14-bold-font-family);
    font-style: var(--body14-bold-font-style);
    letter-spacing: var(--body14-bold-letter-spacing);
    font-size: var(--body14-bold-font-size);
  }
  
  .frame .group-4 {
    position: absolute;
    width: 131px;
    height: 42px;
    top: 144px;
    left: 172px;
  }
  
  .frame .iwwa-year-wrapper {
    background-color: #a89e6e;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 22px;
    left: 0;
    border-radius: 9px;
  }
  
  .frame .text-wrapper-9 {
    color: #a89e6e;
    font-weight: var(--body14-bold-font-weight);
    line-height: var(--body14-bold-line-height);
    font-family: var(--body14-bold-font-family);
    font-style: var(--body14-bold-font-style);
    letter-spacing: var(--body14-bold-letter-spacing);
    font-size: var(--body14-bold-font-size);
  }
  
  .frame .text-wrapper-10 {
    color: #ccc8b5;
    font-family: var(--body12-light-font-family);
    font-weight: var(--body12-light-font-weight);
    font-size: var(--body12-light-font-size);
    line-height: var(--body12-light-line-height);
    font-style: var(--body12-light-font-style);
    letter-spacing: var(--body12-light-letter-spacing);
  }
  
  .frame .text-wrapper-11 {
    color: #ccc8b5;
    font-family: var(--body14-regular-font-family);
    line-height: var(--body14-regular-line-height);
    font-style: var(--body14-regular-font-style);
    font-weight: var(--body14-regular-font-weight);
    letter-spacing: var(--body14-regular-letter-spacing);
    font-size: var(--body14-regular-font-size);
  }
  
  .frame .text-wrapper-12 {
    color: #ccc8b5;
    font-weight: var(--body14-bold-font-weight);
    line-height: var(--body14-bold-line-height);
    font-family: var(--body14-bold-font-family);
    font-style: var(--body14-bold-font-style);
    letter-spacing: var(--body14-bold-letter-spacing);
    font-size: var(--body14-bold-font-size);
  }
  
  .frame .doughnut-chart {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 22px;
    left: 0;
  }
  
  .frame .overlap-group {
    position: relative;
    height: 160px;
  }
  
  .frame .chart-tahunan {
    width: 88px;
    height: 88px;
    top: 36px;
    left: 36px;
    background-image: url(./img/ellipse-1.svg);
    position: absolute;
    background-size: 100% 100%;
  }
  
  .frame .ellipse {
    width: 44px;
    height: 87px;
    left: 44px;
    position: absolute;
    top: 0;
  }
  
  .frame .chart-bulanan {
    width: 112px;
    height: 112px;
    top: 24px;
    left: 24px;
    background-image: url(./img/ellipse-5.svg);
    position: absolute;
    background-size: 100% 100%;
  }
  
  .frame .ellipse-2 {
    width: 56px;
    height: 111px;
    left: 56px;
    position: absolute;
    top: 0;
  }
  
  .frame .chart-mingguan {
    width: 136px;
    height: 136px;
    top: 12px;
    left: 12px;
    background-image: url(./img/image.svg);
    position: absolute;
    background-size: 100% 100%;
  }
  
  .frame .ellipse-3 {
    width: 68px;
    height: 135px;
    left: 68px;
    position: absolute;
    top: 0;
  }
  
  .frame .chart-harian {
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
    background-image: url(./img/ellipse-9.svg);
    position: absolute;
    background-size: 100% 100%;
  }
  
  .frame .ellipse-4 {
    position: absolute;
    width: 80px;
    height: 160px;
    top: 0;
    left: 80px;
  }
  /* Original CSS code */
  
  /* New CSS code */
  .frame {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard {
    width: 300px;
    height: 186px;
    position: relative;
    overflow-x: hidden;
  }
  
  .checklist-item {
    position: absolute;
    width: 131px;
    height: 42px;
  }
  
  .checklist-item:nth-child(1) {
    top: 0;
    left: 172px;
  }
  
  .checklist-item:nth-child(2) {
    top: 48px;
    left: 172px;
  }
  
  .checklist-item:nth-child(3) {
    top: 96px;
    left: 172px;
  }
  
  .checklist-item:nth-child(4) {
    top: 144px;
    left: 172px;
  }
  
  .icon-wrapper {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 22px;
    left: 0;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 10px;
    height: 10px;
  }
  
  .iwwa-day-wrapper {
    background-color: var(--red-100);
  }
  
  .iwwa-week-wrapper {
    background: linear-gradient(
      180deg,
      rgb(58.86, 120.35, 255) 0%,
      rgb(25.71, 90.94, 233.75) 100%
    );
  }
  
  .iwwa-month-wrapper {
    background-color: var(--orange-100);
  }
  
  .iwwa-year-wrapper {
    background-color: #a89e6e;
  }
  
  .checklist-title {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--body12-regular-font-family);
    font-weight: var(--body12-regular-font-weight);
    color: #000000;
    font-size: var(--body12-regular-font-size);
    letter-spacing: var(--body12-regular-letter-spacing);
    line-height: var(--body12-regular-line-height);
    white-space: nowrap;
    font-style: var(--body12-regular-font-style);
  }
  
  .checklist-status {
    position: absolute;
    top: 20px;
    left: 22px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .status-count {
    font-weight: var(--body14-bold-font-weight);
    line-height: var(--body14-bold-line-height);
    font-family: var(--body14-bold-font-family);
    font-style: var(--body14-bold-font-style);
    letter-spacing: var(--body14-bold-letter-spacing);
    font-size: var(--body14-bold-font-size);
  }
  
  .status-total {
    font-family: var(--body12-light-font-family);
    font-weight: var(--body12-light-font-weight);
    font-size: var(--body12-light-font-size);
    line-height: var(--body12-light-line-height);
    font-style: var(--body12-light-font-style);
    letter-spacing: var(--body12-light-letter-spacing);
  }
  
  .status-label {
    font-weight: var(--body14-bold-font-weight);
    line-height: var(--body14-bold-line-height);
    font-family: var(--body14-bold-font-family);
    font-style: var(--body14-bold-font-style);
    letter-spacing: var(--body14-bold-letter-spacing);
    font-size: var(--body14-bold-font-size);
  }
  
  .checklist-item:nth-child(1) .status-count {
    color: #dc2626;
  }
  .checklist-item:nth-child(1) .status-total,
  .checklist-item:nth-child(1) .status-label {
    color: #ee9393;
  }
  
  .checklist-item:nth-child(3) .status-count {
    color: #e58900;
  }
  .checklist-item:nth-child(3) .status-total,
  .checklist-item:nth-child(3) .status-label {
    color: #f2c580;
  }
  
  .checklist-item:nth-child(4) .status-count,
  .checklist-item:nth-child(4) .status-total,
  .checklist-item:nth-child(4) .status-label {
    color: #ccc8b5;
  }
  
  .doughnut-chart {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 22px;
    left: 0;
  }
  
  .chart-container {
    position: relative;
    height: 160px;
  }
  
  .chart-layer {
    position: absolute;
    background-size: 100% 100%;
  }
  
  .chart-tahunan {
    width: 88px;
    height: 88px;
    top: 36px;
    left: 36px;
    background-image: url(./img/ellipse-1.svg);
  }
  
  .chart-bulanan {
    width: 112px;
    height: 112px;
    top: 24px;
    left: 24px;
    background-image: url(./img/ellipse-5.svg);
  }
  
  .chart-mingguan {
    width: 136px;
    height: 136px;
    top: 12px;
    left: 12px;
    background-image: url(./img/image.svg);
  }
  
  .chart-harian {
    width: 160px;
    height: 160px;
    top: 0;
    left: 0;
    background-image: url(./img/ellipse-9.svg);
  }
  
  .chart-segment {
    position: absolute;
  }
  
  .chart-tahunan .chart-segment {
    width: 44px;
    height: 87px;
    left: 44px;
    top: 0;
  }
  
  .chart-bulanan .chart-segment {
    width: 56px;
    height: 111px;
    left: 56px;
    top: 0;
  }
  
  .chart-mingguan .chart-segment {
    width: 68px;
    height: 135px;
    left: 68px;
    top: 0;
  }
  
  .chart-harian .chart-segment {
    width: 80px;
    height: 160px;
    top: 0;
    left: 80px;
  }
  