h1{
    color: skyblue;
    font-size: 150px;
    text-transform: uppercase;
}

p{
    text-align: justify;
    text-indent: 50px;
    text-transform: capitalize;
    word-spacing: 10px;
}

a{
    text-decoration: none;
}