html, body {
    height: 100%;
}


body{
    text-align: center;
}

#button #button_1{
    width: 80px;
    height: 30px;
}

.biru-muda{
    background-color: lightblue;
}

.merah{
    background-color: red;
}

.hijau{
    background-color: green;
}

.biru{
    background-color: blue;
}

.kotak{
    width: 25px;
    height: 25px;
    margin: 10px auto;
}
